<a href="https://colab.research.google.com/github/ivondf68-eng/Aulas-dados-python/blob/main/Aula_1_Imers%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando biblioteca pandas para manipulação de dados
import pandas as pd

In [ ]:
#Carrega o arquivo csv de uma URL
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
# Exibe as primeiras 10 linhas do DataFrame para uma visualização inicial dos dados.
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [ ]:
# Exibe um resumo do DataFrame, incluindo o tipo de dados e o número de valores não nulos em cada coluna.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
df.shape

(133349, 11)

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print("linhas: " , linhas)
print("colunas: " , colunas)

linhas:  133349
colunas:  11

In [ ]:
# Renomeia as colunas do DataFrame para termos em português brasileiro, facilitando a compreensão e manipulação dos dados.
df = df.rename(columns={
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
})

print("Colunas traduzidas com sucesso!")
print(df.columns)

Colunas traduzidas com sucesso!
Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
# Conta a ocorrência de cada nível de experiência na coluna 'senioridade'.
df["senioridade"].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
# Conta a ocorrência de cada tipo de contrato na coluna 'contrato'.
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
# Conta a ocorrência de cada modalidade de trabalho (presencial, remoto, híbrido) na coluna 'remoto'.
df["remoto"].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
# Conta a ocorrência de cada tamanho de empresa na coluna 'tamanho_empresa'.
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [ ]:
# Traduz as categorias da coluna 'senioridade' de códigos para termos em português
df['senioridade'] = df['senioridade'].map({
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
})
print("Categorias da coluna 'senioridade' traduzidas com sucesso!")
print(df['senioridade'].value_counts())

Categorias da coluna 'senioridade' traduzidas com sucesso!
Series([], Name: count, dtype: int64)

In [ ]:
# Traduz as categorias da coluna 'contrato' de códigos para termos em português.
df['contrato'] = df['contrato'].map({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelance'
})
print("Categorias da coluna 'contrato' traduzidas com sucesso!")
print(df['contrato'].value_counts())

Categorias da coluna 'contrato' traduzidas com sucesso!
contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelance             16
Name: count, dtype: int64

In [ ]:
# Traduz as categorias da coluna 'tamanho_empresa' de códigos para termos em português.
df['tamanho_empresa'] = df['tamanho_empresa'].map({
    'M': 'Média',
    'L': 'Grande',
    'S': 'Pequena'
})
print("Categorias da coluna 'tamanho_empresa' traduzidas com sucesso!")
print(df['tamanho_empresa'].value_counts())

Categorias da coluna 'tamanho_empresa' traduzidas com sucesso!
tamanho_empresa
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [ ]:
# Traduz as categorias da coluna 'remoto' de códigos numéricos para termos em português.
df['remoto'] = df['remoto'].map({
    0: 'Presencial',
    100: 'Remoto',
    50: 'Híbrido'
})
print("Categorias da coluna 'remoto' traduzidas com sucesso!")
print(df['remoto'].value_counts())

Categorias da coluna 'remoto' traduzidas com sucesso!
remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [ ]:
# Exibe as primeiras linhas do DataFrame para uma visualização rápida após as modificações e traduções.
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [ ]:
# Gera estatísticas descritivas para as colunas do tipo 'object' (categóricas) no DataFrame, oferecendo um resumo de seus valores.
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561