<a href="https://colab.research.google.com/github/ivondf68-eng/Aulas-dados-python/blob/main/Aula_2_Prepara%C3%A7%C3%A3o_e_limpeza_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando biblioteca pandas para manipulação de dados
import pandas as pd

In [ ]:
# Lê o arquivo CSV de uma URL e o carrega em um DataFrame Pandas
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
# Verifica a presença de valores nulos em cada célula do DataFrame
df.isnull()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Define um dicionário para mapear os nomes das colunas antigas para novos nomes em português
column_mapping = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}
# Renomeia as colunas do DataFrame usando o dicionário de mapeamento
df = df.rename(columns=column_mapping)

In [ ]:
# Exibe as primeiras linhas do DataFrame
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
# Calcula a soma de valores nulos por coluna no DataFrame
df.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [ ]:
# Exibe os valores únicos da coluna 'ano'
df["ano"].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [ ]:
# Filtra o DataFrame para exibir apenas as linhas que contêm pelo menos um valor nulo
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,SE,FT,Product Manager,184500,USD,184500,US,0,US,M
59692,NaN,MI,FT,Engineer,110000,USD,110000,DE,0,DE,M
59710,NaN,EN,FT,Data Scientist,208800,USD,208800,US,0,US,M
59759,NaN,SE,FT,Software Engineer,135000,USD,135000,US,0,US,M
59789,NaN,SE,FT,Engineer,112000,USD,112000,US,0,US,M
131000,NaN,SE,FT,Machine Learning Engineer,163800,USD,163800,US,0,US,M
131006,NaN,SE,FT,Data Analytics Manager,204500,USD,204500,US,0,US,M
133054,NaN,EN,FT,Data Scientist,40000,USD,40000,JP,100,MY,L
133281,NaN,MI,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,L
133317,NaN,MI,FT,Data Scientist,130000,USD,130000,US,50,US,L

In [ ]:
# Importando a biblioteca NumPy
import numpy as np

#criação de um Dataframe
df_salarios = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Ana', 'Val'],
    'salario': [5000, np.nan, 7000, np.nan, 100000]
})

#calcula a média, substitui os números nulos e arredonda os valores
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

#calcula a mediana e substitui os números nulos
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())

print(df_salarios)

    nome   salario  salario_media  salario_mediana
0   João    5000.0        5000.00           5000.0
1  Maria       NaN       37333.33           7000.0
2   José    7000.0        7000.00           7000.0
3    Ana       NaN       37333.33           7000.0
4    Val  100000.0      100000.00         100000.0

In [ ]:
# DataFrame de exemplo com dias da semana e temperaturas, incluindo valores nulos
df_temperaturas = pd.DataFrame({
    'Dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'Temperatura': [30, np.nan, np.nan, 28, 27]
})

# Preenche os valores nulos na coluna 'Temperatura' com o último valor válido observado (forward-fill)
df_temperaturas["preenchido_ffill"] = df_temperaturas["Temperatura"].ffill()
df_temperaturas

       Dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [ ]:
# Cria um DataFrame de exemplo com dias da semana e temperaturas
df_temperaturas = pd.DataFrame({
    'Dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'Temperatura': [30, np.nan, np.nan, 28, 27]
})

# Preenche os valores nulos na coluna 'Temperatura' com o próximo valor válido observado (backward-fill)
df_temperaturas["preenchido_bfill"] = df_temperaturas["Temperatura"].bfill()
df_temperaturas

       Dia  Temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [ ]:
# Cria um DataFrame de exemplo com nomes e cidades, incluindo valores nulos
df_cidades = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Ana', 'Val'],
    'cidade': ['São Paulo', np.nan, 'Belo Horizonte', np.nan, 'Rio de Janeiro']
})

# Preenche os valores nulos na coluna 'cidade' com a string 'Não informado'
df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna('Não informado')
df_cidades

    nome          cidade cidade_preenchida
0   João       São Paulo         São Paulo
1  Maria             NaN     Não informado
2   José  Belo Horizonte    Belo Horizonte
3    Ana             NaN     Não informado
4    Val  Rio de Janeiro    Rio de Janeiro

In [ ]:
# Remove todas as linhas que contêm valores nulos no DataFrame
df_limpo = df.dropna()

In [ ]:
# Calcula a soma de valores nulos por coluna no DataFrame
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [ ]:
# Exibe as primeiras linhas do DataFrame
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
# Exibe um resumo do DataFrame (índice, tipo de dado e uso de memória)
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  int64
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.2+ MB

In [ ]:
# Converte a coluna 'ano' para o tipo de dado inteiro (int64)
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))